In [2]:
import sqlite3

In [3]:
# Connecting to data base
conn = sqlite3.connect('weather_database.db')
cur = conn.cursor()

In [5]:
# Creating the Weather table 
cur.execute('''
    CREATE TABLE Weather1 (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')

In [7]:
# Inserting data
cur.executemany('''
    INSERT INTO Weather1 (id, recordDate, temperature)
    VALUES (?, ?, ?)
''', [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
])

In [8]:
# Commit the changes
conn.commit()

In [9]:
# Executing SQL query
cur.execute('''
    SELECT w2.id
    FROM Weather w1, Weather1 w2
    WHERE w2.recordDate = DATE(w1.recordDate, '+1 day')
        AND w2.temperature > w1.temperature
''')

In [10]:
#Printing the results
rows = cur.fetchall()
for row in rows:
    print(row[0])

# Closing the connection
conn.close()

2
4